
<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      row
      wrap
    >
      <v-flex xs6>
        <v-card
          color="blue darken-2"
          class="white--text"
        >
          <v-card-title primary-title>
            <div class="display-2 font-weight-thin">
              Total translations
            </div>
            <div class="display-3 font-weight-thin">
              {{ totalTranslations }}
            </div>
          </v-card-title>
          <v-card-actions color="blue">
            <div class="title font-weight-thin">
              Last week: {{ lastWeekTranslation }}
            </div>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <h2 class="title">
          Translations
        </h2>
        <v-progress-circular
          v-if="chartData.length===0"
          indeterminate
          color="primary"
        />

        <GChart
          type="LineChart"
          @ready="generatePerWeekChart"
        />
      </v-flex>
      <v-flex xs12>
        <h2 class="title">
          Overall translations per week
        </h2>
        <GChart
          :settings="{ packages: ['corechart', 'table', 'map'] }"
          type="ColumnChart"
          :resize-debounce="500"
          @ready="generatePerWeekChart"
        />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Overview',
  data: () => ({
    chartData: [],
    totalDrafts: 0,
    lastWeekTranslation: 0,
    totalTranslations: 0
  }),
  computed: {
    chartOptions () {
      return {
        width: '100%',
        height: 500,
        colors: ['#2196f3', '#9e9e9e', '#f44336'],
        legend: { position: 'bottom' }
      }
    }
  },
  methods: {
    async generatePerWeekChart (chart, google) {
      // Load the Visualization API and the piechart package.
      if (!this.chartData.length) {
        this.chartData = await this.generate(google)
      }
      chart.draw(this.chartData, this.chartOptions)
    },
    generate (google) {
      var apiURL =
        'https://test.wikipedia.org/w/api.php?action=query&format=json&list=contenttranslationlangtrend&origin=*';
      return axios
        .get(apiURL)
        .then(response => {
          // Create our data table out of JSON data loaded from server.
          var translations =
            response.data.query.contenttranslationlangtrend.translations
          var drafts = response.data.query.contenttranslationlangtrend.drafts

          var data = new google.visualization.DataTable()
          data.addColumn('date', 'Date')
          data.addColumn('number', 'Translations')
          data.addColumn('number', 'Drafts')
          for (let i = 0; i < translations.length; i++) {
            data.addRow([
              new Date(translations[i].date),
              translations[i].count,
              drafts[i].count
            ])
            this.totalTranslations = translations[i].count
            this.lastWeekTranslation = translations[i].delta
          }
          return data
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
