
<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <v-card>
          <h2 class="title">
            Translations
          </h2>
          <v-progress-circular
            v-if="chartData.length===0"
            indeterminate
            color="primary"
          />
          <GChart
            :settings="{ packages: ['sankey'] }"
            type="Sankey"
            @ready="onChartReady"
          />
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Propagation',
  data: () => ({
    chartData: []
  }),
  computed: {
    to () {
      return this.$route.params.to || 'es'
    },
    chartOptions () {
      var colors = [
        '#a6cee3',
        '#b2df8a',
        '#fb9a99',
        '#fdbf6f',
        '#cab2d6',
        '#ffff99',
        '#1f78b4',
        '#33a02c'
      ]
      return {
        width: '100%',
        height: 1000,
        colors,
        sankey: {
          link: {
            colorMode: 'gradient',
            colors
          }
        }
      }
    }
  },
  methods: {
    async onChartReady (chart, google) {
      // Load the Visualization API and the piechart package.
      if (!this.chartData.length) {
        this.chartData = await this.generate(google)
      }
      chart.draw(this.chartData, this.chartOptions)
    },
    generate (google) {
      var apiURL = `https://test.wikipedia.org/w/api.php?action=query&format=json&list=contenttranslationstats&origin=*`
      return axios
        .get(apiURL)
        .then(response => {
          // Create our data table out of JSON data loaded from server.
          var translations = response.data.query.contenttranslationstats.pages

          var data = new google.visualization.DataTable()
          data.addColumn('string', 'From')
          data.addColumn('string', 'To')
          data.addColumn('number', 'Translations')
          data.addColumn({ type: 'string', role: 'tooltip' })
          for (let i = 0; i < translations.length; i++) {
            if (
              translations[i].status === 'published' &&
              translations[i].targetLanguage === this.to &&
              translations[i].sourceLanguage !== translations[i].targetLanguage
            ) {
              data.addRow([
                translations[i].sourceLanguage,
                translations[i].targetLanguage,
                Math.log(Number.parseInt(translations[i].count)) , // Weight in logarithmic scale
                `${translations[i].sourceLanguage} -> ${
                  translations[i].targetLanguage
                } : ${Number.parseInt(translations[i].count)} translations by ${
                  translations[i].translators
                } translators`
              ])
            }
          }
          return data
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
