<template>
  <div>
    <div class="container">
      <div>
        <div>
          <h2 class="white-text">
            Content Translation dashboard
          </h2>
        </div>
        <div>
          <h5>Source code</h5>
          <ul>
            <li>
              <a href="https://gitlab.com/santhoshtr/cxdashboard">Content Translation dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        ©
        <a href="https://thottingal.in">Santhosh Thottingal</a>
      </div>
    </div>
  </div>
</template>
