
<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <v-card>
          <h2 class="title">
            {{ this.user }}
          </h2>
          <GChart
            :settings="{ packages: ['corechart'] }"
            type="ColumnChart"
            @ready="onChartReady"
          />
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Translator',
  data: () => ({
    chartData: []
  }),
  computed: {
    user () {
      return this.$route.params.user
    },
    chartOptions () {
      return {
        width: '100%',
        height: 500,
        colors: ['#2196f3', '#9e9e9e', '#f44336'],
        legend: { position: 'bottom' }
      }
    }
  },
  methods: {
    async onChartReady (chart, google) {
      if (!this.user) {
        return
      }
      // Load the Visualization API and the piechart package.
      if (!this.chartData.length) {
        this.chartData = await this.generate(google)
      }
      chart.draw(this.chartData, this.chartOptions)
    },
    generate (google) {
      var apiURL = `https://test.wikipedia.org/w/api.php?action=query&format=json&list=cxtranslatorstats&translator=${this.user}&origin=*`
      return axios
        .get(apiURL)
        .then(response => {
          // Create our data table out of JSON data loaded from server.
          var translations = response.data.cxtranslatorstats.publishTrend
          var data = new google.visualization.DataTable()
          data.addColumn('date', 'Week')
          data.addColumn('number', 'Translations')
          Object.keys(translations).forEach(key => {
            data.addRow([new Date(key), translations[key].count])
          })
          return data
        })
        .catch(error => {
          console.log(error)
        })
    }
  }
}
</script>
