
<template>
  <v-container
    fluid
    grid-list-md
  >
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <LanguageSelector
          :selected="language"
          @changeLanguage="onChangeLanguage"
        />
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title primary-title>
            <div
              class="display-2 font-weight-thin"
            >
              Total translations to {{ currentLanguageAutonym }}: {{ totalTranslations }}
            </div>
            <v-progress-circular
              v-if="chartData.length===0"
              indeterminate
              color="primary"
            />
          </v-card-title>
          <v-card-actions color="blue">
            <div class="title font-weight-thin">
              Last week: {{ lastWeekTranslation }}
            </div>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <v-card>
          <v-progress-circular
            v-if="chartData.length===0"
            indeterminate
            color="primary"
          />

          <h2 class="title">
            Translations to {{ currentLanguageAutonym }}
          </h2>
          <GChart
            :data="chartData"
            type="LineChart"
            @ready="onChartReady"
          />
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-progress-circular
            v-if="chartData.length===0"
            indeterminate
            color="primary"
          />

          <h2 class="title">
            Overall translations per week to {{ currentLanguageAutonym }}
          </h2>
          <GChart
            :data="chartData"
            :settings="{ packages: ['corechart'] }"
            type="ColumnChart"
            :resize-debounce="500"
            @ready="onChartReady"
          />
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";
import LanguageSelector from "../components/LanguageSelector";
import languagedata from "language-data";

export default {
  name: "WikiOverview",
  components: {
    LanguageSelector
  },
  data: () => ({
    chartsLib: null,
    translations: [],
    drafts: [],
    deletions: [],
    totalDrafts: 0,
    lastWeekTranslation: 0,
    totalTranslations: 0
  }),
  computed: {
    language() {
      return this.$route.params.lang;
    },
    currentLanguageAutonym(){
      return languagedata.getAutonym(this.language)
    },
    chartOptions() {
      return {
        width: "100%",
        height: 500,
        colors: ["#2196f3", "#9e9e9e", "#f44336"],
        legend: { position: "bottom" }
      };
    },
    chartData() {
      return this.generate();
    }
  },
  mounted: function() {
    if (!this.language) {
      this.$router.push({ path: `/wiki/en` });
    }
    this.fetchStats(this.language)
  },
  methods: {
     onChartReady (chart, google) {
      this.chartsLib = google
    },
    fetchStats: function(language) {
      var apiURL = `https://test.wikipedia.org/w/api.php?action=query&format=json&list=contenttranslationlangtrend&origin=*&target=${language}`;
      return axios
        .get(apiURL)
        .then(response => {
          // Create our data table out of JSON data loaded from server.
          this.translations =
            response.data.query.contenttranslationlangtrend.translations;
          this.drafts = response.data.query.contenttranslationlangtrend.drafts;
          this.deletions =
            response.data.query.contenttranslationlangtrend.deletions;
        })
        .catch(error => {
          console.log(error);
        });
    },
    onChangeLanguage: function(language) {
      this.$router.push({ path: `/wiki/${language}` });
      this.fetchStats(this.language)
    },
    generate() {
      if(!this.chartsLib ){
        return []
      }
      var data = new  this.chartsLib.visualization.DataTable();
      data.addColumn("date", "Date");
      data.addColumn("number", "Translations");
      data.addColumn("number", "Drafts");
      data.addColumn("number", "Deletions");
      for (let i = 0; i < this.translations.length; i++) {
        data.addRow([
          new Date(this.translations[i].date),
          this.translations[i].count,
          this.drafts[i].count,
          this.deletions[i].count
        ]);
        this.totalTranslations = this.translations[i].count;
        this.lastWeekTranslation = this.translations[i].delta;
      }
      return data;
    }
  }
};
</script>
