<template>
  <v-app light>
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
    >
      <v-list
        flat
        dense
      >
        <v-list-item-group
          color="primary"
        >
          <v-list-item
            v-for="item in items"
            :key="item.title"
            :to="item.href"
          >
            <v-list-item-icon>
              <v-icon v-text="item.icon" />
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      elevate-on-scroll
      color="white"
      light
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title
        style="width:100%;"
        fixed
        href="/"
        class="text-xs-center"
      >
        {{ appName }}
      </v-toolbar-title>
    </v-app-bar>
    <v-content id="content">
      <transition
        name="fade"
        mode="out-in"
      >
        <router-view />
      </transition>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
    appName: 'Content Translation dashboard',
    items: [
      { title: 'Overview', icon: 'apps', href: '/' },
      { title: 'Wiki overview', icon: 'language', href: '/wiki' },
      { title: 'Content propagation', icon: 'shuffle', href: '/propagation' },
      { title: 'Translator', icon: 'person', href: '/translator' },
      { title: 'Translation', icon: 'translate', href: '/translation' },
      { title: 'About', icon: 'question_answer', href: '/about' },
      {
        title: 'Code',
        icon: 'code',
        href: 'https://gitlab.com/santhoshtr/cxdashboard'
      }
    ],
    drawer: null
  })
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, "Lato", "Manjari", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#content {
  margin-top: 20px;
}
</style>
